<div class="col-md-8 col-md-offset-2">
<%= link_to("首页", root_path, class: "btn btn-success") %>
<h2>所有错题</h2>
<% @exams.each_with_index do |exam,i| %>
 <% @error_records = exam.answer_records.where(state: "error") %>
 <% if @error_records != [] %>

  <h3>第 <%= i+1 %>次考试错题</h3>
 
	  <%= render :partial => "error_record", locals: {:error_records => @error_records} %>
  <% end %>
 <% end %>
 </div>

 